input {
  width:70vw;
  height:35px;
  border:1.8px solid rgb(182, 179, 179);
  font-size: 1.3rem;
  border-radius: 1.5rem;
}
#input{
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}
.table th, .table td{
  border:1px black solid;
  text-align: center;
}
table {
  border-collapse:collapse;
}
#age,#name,#phone {
  width:15%;
}
#address{
  width:45%;
}